.custom-nav-gap{
    gap: 3rem;
}

header{
    min-height: 12vh;
    background-color: #282544;
    border-bottom: 1px solid black;
}

header .pegho-logo{
    height: 60px;
}

header .nav-link{
    font-size: 22px;
    color: white;
    background-image: linear-gradient(#afafaf, #afafaf);
    background-size: 0% 0.1em;
    background-position-y: 90%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    white-space: nowrap;
    transition: background-size 0.3s ease-in-out;
}

header .nav-link:hover{
    color: #afafaf;
    background-size: 100% 0.1em;
}

header .nav-link:focus{
    color: #c6c6c6;
    background-size: 15% 0.1em;
}

@media (max-width: 576px) {
    .custom-nav-gap {
        gap: 0.3rem;
    }

    header .nav-link:hover{
        color: #afafaf;
        background-size: 0% 0.1em;
    }

    header .nav-link:focus{
        color: #c6c6c6;
        background-size: 0% 0.1em;
    }

    header .navbar-toggle{
        margin-right: 0;
    }
}