.container-danger{
    border: 2px solid red;
    border-radius: 15px;
}

.cursor-pointer{
    cursor: pointer;
}

.experiences-container,
.academic-container{
    border: 1px solid white;
    border-radius: 8px;
}