.cursor-pointer{
    cursor: pointer;
}

.main-container{
    min-height: 100vh;
    background-color: #221f3c;
    color: white;
}

.experiences-container,
.academic-container{
    border: 1px solid white;
    border-radius: 8px;
}